@font-face {
  font-family: "P22 Underground";
  src: url("/fonts/P22underground.ttf") format("truetype");
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  margin: 0;
  height: 100%;
}

h1,
h2 {
  font-family: "P22 Underground", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

/* HEADER */
header {
  width: 100%;
  height: 8.8rem;
  position: relative;
}

.top-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.5rem;
}

.top-header a {
  text-decoration: none;
  color: #000;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
}

.logo img {
  height: 5.5rem;
}

.logo-heading {
  font-family: "P22 Underground", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.logo-slogan {
  font-size: 1.1rem;
  margin-left: 0.3rem;
  height: 2rem;
}

.logo-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0.3rem;
}

.header-background {
  background-image: url(/images/littlechemists.jpg);
  background-size: cover;
  height: 6.5rem;
  width: 27rem;
  position: absolute;
  transform: translate(50%);
  right: 50%;
  z-index: -1;
}

.visit-icon img {
  height: 4rem;
}

.visit-icon {
  font-family: "P22 Underground", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

nav ul {
  width: 100%;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

nav ul a {
  list-style: none;
  border: solid #000 1px;
  padding: 0.4rem;
  flex-grow: 1;
  text-align: center;
  font-family: "P22 Underground", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #fac87c;
  text-decoration: none;
  color: #000;
}

nav ul a:hover {
  background-color: #9afaa7;
}

/* MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.visibly-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.explore-front {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.explore-front img {
  width: 100%;
  height: auto;
  transform: translateY(-40%);
}

.explore-front div {
  position: absolute;
  right: 0;
  bottom: 2rem;
  background: transparent linear-gradient(90deg, #9afaa7 0%, #9afaa7b4 100%);
  width: 20rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.explore-front h2 {
  margin-left: 1rem;
  color: #000;
  font-size: 1.7em;
}

.explore-front img:hover {
  animation: 8s ease-in-out 1 showimage;
}

@keyframes showimage {
  0% {
    transform: translateY(-56%);
  }

  100% {
    transform: translateY(-22%);
  }
}

.exhibition-spaces {
  width: 51rem;
  height: 31rem;
  background-color: #fac87c;
  display: flex;
  flex-direction: column;
}

.label {
  background: transparent linear-gradient(240deg, #9afaa7 0%, #9afaa7b4 100%);
  width: 20rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1.2rem 0;
  font-size: 1.2em;
}

.label h2 {
  margin-right: 0.5rem;
}

.exhibition-examples {
  display: inline-flex;
  width: 98%;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.exhibition-img-wrapper {
  width: 16rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.exhibition-img-wrapper img {
  height: 20rem;
  object-fit: cover;
}

.img-label {
  position: absolute;
  bottom: 0;
  background-color: #ffffffc9;
  height: 3rem;
  width: 100%;
  color: #000;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vr-front {
  width: 16rem;
}

.mammoth-front {
  transform: translate(-10%);
}

.astronaut-front {
  transform: translate(-18%);
}

.button-cta {
  padding: 0.7rem 1.5rem;
  text-align: center;
  background-color: #000;
  margin-top: 0.5rem;
  float: right;
  margin-right: 1rem;
  box-shadow: #00000069 0.3rem 0.3rem;
  color: #9afaa7;
  text-decoration: none;
  font-size: 1.1em;
}

.button-cta:hover {
  background-color: #9afaa7;
  color: #000;
}

.visit {
  height: 31rem;
  width: 25rem;
  background-color: #fac87c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-spacing: 0.25em;
}

.visit h2 {
  text-align: center;
  font-size: 2em;
  margin: 1rem;
}

.visit p {
  font-weight: bolder;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

.visit-hours {
  display: flex;
  justify-content: center;
}

.visit-hours ul {
  padding: 0;
  margin: 1rem 1rem;
}

.visit-hours ul li {
  list-style: none;
  font-size: 1.2em;
  margin: 0.4rem 0;
}

.visit-button {
  margin: 0;
}

.visit a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.special-events {
  width: 100%;
  height: 36rem;
  background-color: #9afaa76b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-wrapper {
  width: 78rem;
  height: 31rem;
  background-color: #fac87c;
}

.events-examples {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.front-p {
  font-size: 1.3em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  line-height: 2em;
}

.events-col-wrapper {
  width: 17rem;
  height: 21rem;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.events-col-wrapper img {
  height: 21rem;
  object-fit: cover;
}

.events-img-label {
  width: 100%;
  font-size: 1.2em;
}

.plane-front {
  transform: translate(-30%);
}

.skull-front {
  transform: translate(-18%);
}

.energetica-front {
  transform: translate(-20%);
}

.events-cta {
  margin-right: 2.6rem;
}

.about-us,
.get-involved {
  width: 38rem;
  height: 28rem;
  background-color: #fac87c;
  position: relative;
}

.shorter-label {
  z-index: 2;
  position: relative;
  width: 16rem;
}

.card-img {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.about-us img {
  object-fit: cover;
  height: 100%;
  transform: translate(-10%);
}

.card-right {
  width: 40%;
  height: 90%;
  position: absolute;
  right: 0;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-right p {
  width: 80%;
  margin: auto 0;
}

.about-cta {
  margin: 1.2rem 0 0 0;
}

.get-involved img {
  object-fit: cover;
  height: 100%;
  transform: translate(-20%);
}

.card-right p {
  width: 85%;
}

.involved-cta {
  margin: 0;
}

.link-cta {
  width: 100%;
  text-align: center;
  color: #233537;
  margin-top: 2rem;
}

.link-cta:hover {
  text-shadow: #fac87c 0.1em 0.1em 0.2em;
}

/* FOOTER */

footer {
  height: 8rem;
  width: 100%;
  background-color: #233537;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
}

footer img {
  height: 4rem;
  width: auto;
}

footer ul {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 10rem;
}

footer ul a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul a:hover {
  text-decoration: underline;
}

.right-footer {
  text-align: right;
}

@media (max-width: 1250px) {
  main {
    gap: 1rem;
  }
  .explore-front img {
    transform: translateY(-30%);
  }

  .exhibition-spaces {
    width: 60%;
  }
  .exhibition-img-wrapper {
    width: 30%;
  }

  .vr-front {
    transform: translate(-10%);
  }

  .mammoth-front {
    transform: translate(-25%);
  }

  .visit {
    width: 35%;
  }

  .events-wrapper {
    width: 90%;
  }

  .events-col-wrapper {
    width: 30%;
  }

  .events-examples p {
    display: none;
  }

  .about-us,
  .get-involved {
    width: 47%;
  }

  .shorter-label {
    width: 50%;
    font-size: 1em;
  }

  .card-right p {
    font-size: 1.1em;
    width: 95%;
  }
}

@media (max-width: 850px) {
  main {
    margin-bottom: 4rem;
  }

  header {
    height: 7.6rem;
  }

  .top-header {
    height: 4rem;
  }

  .logo img {
    height: 3rem;
  }

  .logo-heading {
    font-size: 1em;
  }

  .logo-slogan {
    font-size: 0.8em;
    height: auto;
  }

  .header-background {
    height: 4rem;
    width: 17rem;
  }

  .visit-icon img {
    height: 2.5rem;
  }

  .visit-icon {
    font-size: 0.9em;
    padding-right: 0.5rem;
  }

  .explore-front {
    height: 10rem;
  }

  .explore-front div {
    width: 13rem;
    height: 2rem;
    font-size: 0.8em;
  }

  .label {
    width: 13rem;
    height: 2rem;
    font-size: 0.8em;
    margin: 1rem 0;
  }

  .button-cta {
    font-size: 0.8em;
    padding: 0.5rem 1rem;
  }

  .exhibition-spaces {
    width: 95%;
    height: 20rem;
  }

  .special-events {
    height: 23rem;
  }

  .events-wrapper {
    height: 20rem;
  }

  .exhibition-examples,
  .events-examples {
    margin: 0.2rem 0;
  }

  .exhibition-img-wrapper,
  .events-col-wrapper {
    height: 12rem;
  }

  .exhibition-examples img {
    height: 12rem;
  }

  .vr-front {
    transform: translate(-20%);
    width: 130%;
  }

  .mammoth-front {
    transform: translate(-5%);
  }

  .energetica-front {
    transform: translate(-12%);
  }

  .events-examples img {
    height: 100%;
  }

  .events-cta {
    margin-right: 3%;
  }

  .img-label {
    font-size: 0.8em;
    height: 2rem;
    text-align: center;
  }

  .visit {
    width: 60%;
    min-width: 18rem;
    height: 25rem;
  }

  .visit p,
  .visit ul {
    font-size: smaller;
  }

  .visit h2 {
    font-size: 1.6rem;
  }

  .about-us,
  .get-involved {
    width: 95%;
    height: 20rem;
  }

  .card-img {
    width: 45%;
  }

  .about-us img {
    transform: translate(-17%);
  }

  .get-involved img {
    transform: translate(-30%);
  }

  .card-right {
    width: 50%;
  }

  .card-right p {
    font-size: 1em;
  }

  .shorter-label {
    width: 11rem;
  }

  .link-cta {
    font-size: smaller;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul a {
    width: 30%;
    font-size: 0.8em;
    padding: 0.4rem 0.3rem;
  }

  .nav-row2 {
    width: 40%;
  }

  footer ul {
    width: 8rem;
  }

  footer ul a {
    font-size: 0.8em;
  }
}
